# Spotify Web Playback SDK
# Créer une app sur https://developer.spotify.com/dashboard
# Redirect URIs à enregistrer :
#   https://lyricist-emmanuelkerhozs-projects.vercel.app
#   http://127.0.0.1:5173
VITE_SPOTIFY_CLIENT_ID=1290827e76c642dbb53d8157aa96a97d
